body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.pixel {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}